#landingpage {
    background-image: url("../img/bg1.jpg");
}
.img-desk {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    margin: 10px;
    height: 100%;
    width: 100%;
    padding: 4px;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.img-desk p {
    font-size: x-large;
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
    padding: 4px;
    display: none;
    background-color: rgba(0, 0, 0, 0.959);
}
#conatac {
    background-image: url(../conta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#conatac input, #conatac textarea {
    background: transparent;
}

#portfolio #pr:hover {
border-radius: 2px;
transition: all .4s;
margin-top: -1%;
}
#footericons img {
    margin: 10px;
}
