#landingpage {
    background-image: url("../img/bg1.jpg");
}
.img-desk {
    display: flex;
    margin: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
#conatac {
    background-image: url(../conta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#conatac input, #conatac textarea {
    background: transparent;
}
#portfolio #pr:hover {
border-radius: 2px;
transition: all .4s;
margin-top: -1%;
}
